@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Theme: Red Dragon
$backgroundColor: #1a0b0c;
$primaryColor: #1a0b0c;
$secondaryColor: #4a4d4e;
$fontColor: #e2a528;

// repsonsive Var
$breakpoint-table: 768px;

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

@media (min-width: $breakpoint-table) {
  .responsive-nav {
    display: none;
  }
}

body {
  background-color: $backgroundColor;
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

nav {
  padding: 1em;
}

h1 {
  color: $secondaryColor;
}

.nav-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-links a {
  padding: 2em 2.5em;
  text-decoration: none;
  color: $fontColor;

  &:visited {
    color: $fontColor;
  }
}

.responsive-nav {
  //   display: none;
  background-color: green;
}
