@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Grundlage
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

// Style
body {
  background-color: var(--main-bg-color);
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  color: var(--font-color);
  margin-bottom: 2em;
}

h1 {
  color: var(--secondary-color);
  padding-top: 0.3em;
}

.responsive-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  span {
    width: auto;
    height: auto;
  }
}

.navItems {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
  padding: 1em;

  a {
    text-decoration: none;
    color: var(--font-color);
    transition: 0.5s;
    margin: 0.3em;

    &:visited {
      color: var(--font-color);
      transition: 0.5s;
    }

    &:hover {
      color: var(--secondary-color);
      transition: 0.5s;
    }
  }
}

.border-bottom {
  border-bottom: 2px solid var(--font-color);
}

.display-none {
  display: none;
}

// repsonsive Var
$breakpoint-table: 768px;

// Desktop Media Query
@media only screen and (min-width: $breakpoint-table) {
  .responsive-nav {
    display: none;
  }
}
