@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Theme: Red Dragon
$backgroundColor: #1a0b0c;
$primaryColor: #1a0b0c;
$secondaryColor: #4a4d4e;
$fontColor: #e2a528;

// Grundlage
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

// Style

body {
  background-color: $backgroundColor;
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

h1 {
  color: $secondaryColor;
}

.responsive-nav {
  padding: 0.6em;
  color: $fontColor;
  padding-top: 1.6em;

  span {
    width: auto;
    height: auto;
    margin: 2em;
  }
}

.navItems {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
  padding: 1em;

  height: auto;
  transition: 1s;

  a {
    text-decoration: none;
    color: $fontColor;
    transition: 0.5s;
    margin: 0.3em;

    &:visited {
      color: #e2a528;
      transition: 0.5s;
    }

    &:hover {
      color: #4a4d4e;
      transition: 0.5s;
    }
  }
}

.display-none {
  display: none;
  height: 0;
  transition: 1s;
}

// repsonsive Var
$breakpoint-table: 768px;

// Desktop Media Query
@media only screen and (min-width: $breakpoint-table) {
  .responsive-nav {
    display: none;
  }
}
