$backgroundColor: #f7f7e2;
$primaryColor: #ebdcd0;
$secondaryColor: #1e874f; 
$fontColor: black;

//TODO: Gute Farb Pattern finden

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $backgroundColor;
}
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

nav {
    padding: 1em;
    background-color: $primaryColor;
    border-radius: 0 0 20px 20px;
}

.nav-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-links a{
    padding: 2em 2.5em;    
    text-decoration: none;
    color: $fontColor;

    &:visited {
        color: $fontColor;
    }
}
