input[type="checkbox"] {
  visibility: hidden;
  &:checked + label {
    background-color: var(--main-bg-color);
    &:before {
      transform: translateX(37px);
      background-color: var(--font-color);
    }
  }
}

label {
  display: flex;
  width: 69px;
  height: 30px;
  border: 2px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.5s;
  cursor: pointer;

  &:before {
    transition: transform 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--font-color);
    border-radius: 50%;
    top: 4px;
    left: 4px;
  }
}
