:root {
  --main-bg-color: #1a0b0c;
  --primary-color: #1a0b0c;
  --secondary-color: #4a4d4e;
  --font-color: #e2a528;
}

/* // Theme: Red Dragon
$backgroundColor: #1a0b0c;
$primaryColor: #1a0b0c;
$secondaryColor: #4a4d4e;
$fontColor: #e2a528;

Theme: solarized light
$backgroundColor: #fdf6e3;
$primaryColor: #fdf6e3;
$secondaryColor: #181819;
$fontColor: #2aa198; */
