@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'VT323', monospace;
}

/*
* --background
* --primary
* --secondary
* --font
*/

body {
    background-color: var(--background);
}

.container {
	margin: 0 auto;
	max-width: 80%;
}

.hero {
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-center-top {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-size: 1.5em;

	span {
		text-decoration: underline;
	}
}

.flex-center-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: var(--font);

	&:hover {
		color: var(--primary);
	}

	&:visited {
		color: var(--font);
	}
}

.frame {
	margin: 0 auto;
	width: 60%;
	height: 600px;
	border: 4px solid var(--primary);

	.upper-block {
		height: 30px;
		width: 100%;
		border-bottom: 2px solid var(--primary);
	}

	.right-corner {
		height: 100%;
		width: 70px;
		float: right;
		display: flex;
		flex-direction: row;

		.dot {
			width: 12px;
			height: 12px;
			background-color: var(--primary);
			border-radius: 100px;
			margin: 7px 0 7px 7px;
			transition: 1s;

			&:hover {
				background-color: var(--secondary);
				transition: 1s;
			}
		}
	}

	.content {
		height: 90%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.code-text {
			font-size: 3em;
			color: var(--font);
			
			.code-text-marked {
				background-color: black;
				animation: textMarked 2s infinite;
			}

			@keyframes textMarked {
				0% {background-color: var(--background);}
				49% {background-color: var(--background);}
				50% {background-color: var(--secondary);}
  				100% {background-color: var(--secondary);}	
			}
		}
	}
}