@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'VT323', monospace;
  color: var(--font);
}

/*
* --background
* --primary
* --secondary
* --font
*/
body {
  background-color: var(--background);
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.hero {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-size: 1.5em;
}

.flex-center-top span {
  text-decoration: underline;
}

.flex-center-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--font);
}

a:hover {
  color: var(--primary);
}

a:visited {
  color: var(--font);
}

.frame {
  margin: 0 auto;
  width: 60%;
  height: 600px;
  border: 4px solid var(--primary);
}

.frame .upper-block {
  height: 30px;
  width: 100%;
  border-bottom: 2px solid var(--primary);
}

.frame .bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
}

.frame .bottom-block #skip {
  cursor: pointer;
}

.frame .bottom-block #light {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.frame .bottom-block #light:hover {
  font-size: 1.4em;
  -webkit-transition: 1s;
  transition: 1s;
}

.frame .bottom-block #dark {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.frame .bottom-block #dark:hover {
  font-size: 1.4em;
  -webkit-transition: 1s;
  transition: 1s;
}

.frame .right-corner {
  height: 100%;
  width: 70px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.frame .right-corner .dot {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 100px;
  margin: 7px 0 7px 7px;
  -webkit-transition: 1s;
  transition: 1s;
}

.frame .right-corner .dot:hover {
  background-color: var(--secondary);
  -webkit-transition: 1s;
  transition: 1s;
}

.frame #clearDot {
  background-color: tomato;
  cursor: pointer;
}

.frame #clearDot:hover {
  background-color: var(--secondary);
}

.frame .content {
  height: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame .content .code-text {
  font-size: 3em;
  max-width: 70%;
}

.frame .content .code-text .code-text-marked {
  -webkit-animation: textMarked 1.1s infinite;
          animation: textMarked 1.1s infinite;
}

@-webkit-keyframes textMarked {
  0% {
    background-color: var(--background);
  }
  49% {
    background-color: var(--background);
  }
  50% {
    background-color: var(--marked);
  }
  100% {
    background-color: var(--marked);
  }
}

@keyframes textMarked {
  0% {
    background-color: var(--background);
  }
  49% {
    background-color: var(--background);
  }
  50% {
    background-color: var(--marked);
  }
  100% {
    background-color: var(--marked);
  }
}
/*# sourceMappingURL=styles.css.map */